body {
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wallet-adapter {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(45deg, #1a1a1a, #333);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header {
    margin-bottom: 20px;
}

.wallet-info {
    margin-bottom: 20px;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.connect-button-phantom, .connect-button-solflare {
    display: flex;
    background-color: #a033ff;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.connect-button-solflare {
    background-color: #241e2a;
}

.connect-button-phantom:hover, .connect-button-solflare:hover {
    box-shadow: 0 0 10px rgba(160, 51, 255, 0.6);
}

.disconnect-button {
    display: flex;
    background-color: #e84855;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.connect-button-solflare img,
.connect-button-phantom img,
.disconnect-button img {
    width: 24px;
    margin-right: 10px;
}

.yew-logo {
    width: 600px;
}

.connect-button-solflare:hover,
.connect-button-phantom:hover,
.disconnect-button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.disconnect-button:hover {
    box-shadow: 0 0 10px rgba(232, 72, 85, 0.6);
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #666;
    font-size: 14px;
}

.leptos-logo {
    width: 600px;
}

.send-sol-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.2);

    color: #0ff;
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.form-control {
    width: 95%;
    padding: 8px;
    font-size: 16px;
    background-color: #111; 
    border: 1px solid #0ff;
    color: #0ff;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #00ffff;
}

.view-transaction-button {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.view-transaction-button:hover {
    background-color: #0056b3;
}