body {
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wallet-adapter {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(45deg, #1a1a1a, #333);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header {
    margin-bottom: 20px;
}

.wallet-info {
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


button {
    background-color: #000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}

button img {
    width: 24px;
    height: 24px;
}

button.disconnect {
    background-color: #b00020;
}

button.disconnect:hover {
    background-color: #7f0000;
}

.error-message {
    color: red;
    font-size: 14px;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #666;
    font-size: 14px;
}
