body {
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wallet-adapter {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(45deg, #1a1a1a, #333);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header {
    margin-bottom: 20px;
}

.wallet-info {
    margin-bottom: 20px;
}

.yew-logo {
    width: 600px;
}

.header, .footer {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.footer p {
    font-size: 14px;
    color: #888888;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}

button img {
    width: 24px;
    height: 24px;
}

button.disconnect {
    background-color: #b00020;
}

button.disconnect:hover {
    background-color: #7f0000;
}

.error-message {
    color: red;
    font-size: 14px;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #666;
    font-size: 14px;
}

.send-sol-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.2);

    color: #0ff;
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.form-control {
    width: 95%;
    padding: 8px;
    font-size: 16px;
    background-color: #111; 
    border: 1px solid #0ff;
    color: #0ff;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #00ffff;
}

.view-transaction-button {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.view-transaction-button:hover {
    background-color: #0056b3;
}